<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Msagl" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.Msagl.Drawing" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.Msagl.GraphViewerGDI" version="1.1.1" targetFramework="net461" />
</packages>