<!-- Configuration file used by Mono to aid in dll mapping between platforms so the same
     assembly can be used on Windows, where it will find wpcap.dll, and on linux/mac where
     Mono will map the dll to libpcap.so.
     This file should be placed along side of the assembly dll or in a system searchable location.
     See http://www.mono-project.com/Interop_with_Native_Libraries#Library_Names -->
<configuration>
  <dllmap dll="wpcap" target="libpcap.so" />
</configuration>
