<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<Product 
		Id="9bec2dfd-0f30-466a-9077-cf86db101cac" 
		Name="BruteSharkDesktop" 
		Language="1033" Version="1.2.13.0" 
		Manufacturer="Oded Shimon" 
		UpgradeCode="9bec2dfd-0f30-466a-9077-cf86db101cac">
		
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>

		<WixVariable Id="WixUILicenseRtf" Value="..\..\LICENSE.rtf"/>
		
		<Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
		<Upgrade Id="9bec2dfd-0f30-466a-9077-cf86db101cac">  
			<UpgradeVersion
				Minimum="1.0.0.0" Maximum="99.0.0.0"
				Property="PREVIOUSVERSIONSINSTALLED"
				IncludeMinimum="yes" IncludeMaximum="no" />
		</Upgrade>
		
		<InstallExecuteSequence>
			<RemoveExistingProducts Before="InstallInitialize" />
		</InstallExecuteSequence>
		
		<MediaTemplate EmbedCab="yes"/>
		<UIRef Id="WixUI_Minimal" />
		
		<Feature Id="ProductFeature" Title="BruteSharkDesktopInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcutDesktop"/>
		</Feature>
		
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			
			<Directory Id="DesktopFolder" Name="Desktop">
				<Component Id="ApplicationShortcutDesktop" Guid="EE875EB0-FCFF-454F-8FF6-2F59B1085D5A">
					<Shortcut Id="ApplicationDesktopShortcut"
						Name="Brute Shark"
						Description="Brute Shark"
						Target="[INSTALLFOLDER]BruteSharkDesktop.exe"
						WorkingDirectory="MYAPPDIRPROPERTY"/>
					<RemoveFolder Id="DesktopFolder" On="uninstall"/>
					<RegistryValue
						Root="HKCU"
						Key="Software/MyAppName"
						Name="installed"
						Type="integer"
						Value="1"
						KeyPath="yes"/>
				</Component>
			</Directory>
			
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="BruteSharkDesktop" />
			</Directory>
			
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

			<Component Id="BruteSharkDesktop.exe">
				<File Id="BruteSharkDesktop.exe" Source="$(var.BruteSharkDesktop.TargetDir)" Name="BruteSharkDesktop.exe" />
			</Component>
			
			<Component Id="Asn1.dll">
				<File Id="Asn1.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="Asn1.dll" />
			</Component>

			<Component Id="AutomaticGraphLayout.dll">
				<File Id="AutomaticGraphLayout.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="AutomaticGraphLayout.dll" />
			</Component>

			<Component Id="AutomaticGraphLayout.Drawing.dll">
				<File Id="AutomaticGraphLayout.Drawing.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="AutomaticGraphLayout.Drawing.dll" />
			</Component>

			<Component Id="BruteForce.dll">
				<File Id="BruteForce.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="BruteForce.dll" />
			</Component>

			<Component Id="BruteSharkDesktop.deps.json">
				<File Id="BruteSharkDesktop.deps.json" Source="$(var.BruteSharkDesktop.TargetDir)" Name="BruteSharkDesktop.deps.json" />
			</Component>

			<Component Id="BruteSharkDesktop.dll">
				<File Id="BruteSharkDesktop.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="BruteSharkDesktop.dll" />
			</Component>

			<Component Id="BruteSharkDesktop.dll.config">
				<File Id="BruteSharkDesktop.dll.config" Source="$(var.BruteSharkDesktop.TargetDir)" Name="BruteSharkDesktop.dll.config" />
			</Component>

			<Component Id="BruteSharkDesktop.runtimeconfig.dev.json">
				<File Id="BruteSharkDesktop.runtimeconfig.dev.json" Source="$(var.BruteSharkDesktop.TargetDir)" Name="BruteSharkDesktop.runtimeconfig.dev.json" />
			</Component>

			<Component Id="BruteSharkDesktop.runtimeconfig.json">
				<File Id="BruteSharkDesktop.runtimeconfig.json" Source="$(var.BruteSharkDesktop.TargetDir)" Name="BruteSharkDesktop.runtimeconfig.json" />
			</Component>

			<Component Id="Microsoft.Msagl.GraphViewerGdi.dll">
				<File Id="Microsoft.Msagl.GraphViewerGdi.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="Microsoft.Msagl.GraphViewerGdi.dll" />
			</Component>

			<Component Id="PacketDotNet.dll">
				<File Id="PacketDotNet.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="PacketDotNet.dll" />
			</Component>

			<Component Id="PcapAnalyzer.dll">
				<File Id="PcapAnalyzer.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="PcapAnalyzer.dll" />
			</Component>

			<Component Id="PcapProcessor.dll">
				<File Id="PcapProcessor.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="PcapProcessor.dll" />
			</Component>

			<Component Id="SharpPcap.dll">
				<File Id="SharpPcap.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="SharpPcap.dll" />
			</Component>

			<Component Id="System.Text.Json.dll">
				<File Id="System.Text.Json.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="System.Text.Json.dll" />
			</Component>

			<Component Id="DNS.dll">
				<File Id="DNS.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="DNS.dll" />
			</Component>
      
			<Component Id="SIPSorcery.dll">
				<File Id="SIPSorcery.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="SIPSorcery.dll" />
			</Component>

			<Component Id="SIPSorceryMedia.Abstractions.dll">
				<File Id="SIPSorceryMedia.Abstractions.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="SIPSorceryMedia.Abstractions.dll" />
			</Component>

			<Component Id="BouncyCastle.Crypto.dll">
				<File Id="BouncyCastle.Crypto.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="BouncyCastle.Crypto.dll" />
			</Component>

			<Component Id="DnsClient.dll">
				<File Id="DnsClient.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="DnsClient.dll" />
			</Component>

			<Component Id="websocket.sharp.dll">
				<File Id="websocket.sharp.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="websocket-sharp.dll" />
			</Component>

			<Component Id="Microsoft.Extensions.Logging.Abstractions.dll">
				<File Id="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="Microsoft.Extensions.Logging.Abstractions.dll" />
			</Component>
			
			<Component Id="System.Runtime.CompilerServices.Unsafe.dll">
				<File Id="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="System.Runtime.CompilerServices.Unsafe.dll" />
			</Component>

			<Component Id="CommonUi.dll">
				<File Id="CommonUi.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="CommonUi.dll" />
			</Component>

			<Component Id="System.Text.Encodings.Web.dll">
				<File Id="System.Text.Encodings.Web.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="System.Text.Encodings.Web.dll" />
			</Component>

			<Component Id="Newtonsoft.Json.dll">
				<File Id="Newtonsoft.Json.dll" Source="$(var.BruteSharkDesktop.TargetDir)" Name="Newtonsoft.Json.dll" />
			</Component>

		</ComponentGroup>
	</Fragment>
</Wix>
